<div class="card-container" id="card-<%= card.id  %>">
  <div class="header-container">
    <img src="https://s17.postimg.org/ypm5ye95r/image.jpg" alt="" class="header-image" />
    <div class="header">
      <h1 class="main-heading"><%= card.title %></h1>
      <span class="tag"><%= card.category1 %></span>
      <span class="tag"><%= card.category2 %></span>
      <div class="stats">
        <span class="stat-module">
           <!-- <span class="stat-number"> <h3>3k ~ 6k<h3> </span> -->
			   <h3><%= card.wage_lower_bound / 1000 %>k ~ <%= card.wage_upper_bound / 1000 %>k</h3>
        </span>
        <span class="stat-module">
          <h5><%= card.work_ex_lower_bound %>~<%= card.work_ex_upper_bound %>年工作经验</h5>
        </span>
        <span class="stat-module">
          社保，公积金，年终奖，五险一金 社保，公积金，年终奖，五险一金 社保，公积金，年终奖，五险一金 <span class="stat-number"></span>
        </span>
        <!-- <span class="stat-module">
          Musicals <span class="stat-number">11</span>
        </span> -->
      </div>
    </div>
  </div>
  
  <div class="overlay-header"></div>
  
  	<div class="body">
	      <img src="http://7xss15.com1.z0.glb.clouddn.com/qingfeideyi.png" alt="Hugh Jackman" class="body-image" style="background-color: white;" />
    <!-- <img src="https://s17.postimg.org/xcbukrwdr/Hugh_Jackman_f.jpg" alt="Hugh Jackman" class="body-image" /> -->
    <div class="body-action-button u-flex-center" style="color:white;">
      <!-- <svg fill="#ffffff" height="28" viewBox="0 0 24 24" width="28" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg> -->
		  <%= card.work_city %>
    </div>
    <!-- <span class="body-stats">成都市<span>武侯区</span></span> -->
    <span class="body-stats"><%= card.user.name %><span></span></span>
    <div class="body-info">
      <p>
        <%= card.user.business_scope %> / <%= card.user.financing_process %>
      </p>
    </div>
  </div>
</div>