<div class="SearchContainer">
	<div class="SearchForm row center">
		
		<%= form_tag search_jobs_path, method: :get, class: "center" do %>
			<div class="SearchForm__location">
				<label for="#" class="SearchForm__label">
					<span>City</span>
				</label><br>
				<input id="SearchInput__city" type="text" name="city" value="<%= params[:city] %>" placeholder="工作地点 城市">
			</div>
			<div class="SearchForm__dates" >
				<label for="#" class="SearchForm__label">
					<span>领域</span>
				</label><br>
				<input id="SearchInput__category" type="text" name="category" value="<%= params[:category] %>" placeholder="领域划分">
			</div>
			<div class="SearchForm__guests" >
				<label for="#" class="SearchForm__label">
					<span>职位</span>
				</label><br>
				<input id="SearchInput__q" type="text" name="q" value="<%= params[:q] %>" placeholder="职位名称">
			</div>
			<div class="SearchForm__submit">
				<button type="submit" class="btn btn-primary " >
					Search
				</button>
			</div>
		<% end %>
		<%= render "location_dropdown" %>
	</div>
</div>