<!-- <div style="margin: 150px;">
	<div class="dropdown pull-right">
		<button class="dropdown-toggle btn btn-default" data-toggle="dropdown">
			排序
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><%= link_to("按薪资下限", jobs_path(order: "by_lower_bound")) %></li>
			<li><%= link_to("按薪资上限", jobs_path(order: "by_upper_bound")) %></li>
			<li><%= link_to("按发布时间", jobs_path) %></li>
		</ul>
	</div>
	<%= render "search_bar" %>
	<table class="table table-boldered">
		<thead>
			<tr>
				<td>职缺</td>
				<td>薪资下限</td>
				<td>薪资上限</td>
				<td>发布时间</td>
			</tr>
		</thead>
		<% @jobs.each do |job| %>
		<tr>
			<td>
				<%= link_to(job.title, job_path(job)) %>
			</td>
			<td>
				<%= job.wage_lower_bound %>
			</td>
			<td>
				<%= job.wage_upper_bound %>
			</td>
			<td>
				<%= job.created_at %>
			</td>
		</tr>
		<% end %>
	</table>
</div> -->

<!-- <br><br><br><br><br><br> -->


<header id="home">
	
	<section class="hero" id="hero">
		<div class="container">
			<div class="row logo-row">
				<div class="col-md-8 col-md-offset-2 text-center inner logo animated fadeInUp delay-05s">
					<!-- <a href="."> -->
						<!-- <img alt="最美团队" src="../../static/landingpage/img/family_title@2x.png"> -->
						<%= image_tag("jobs/family_title@2x.png") %>
						<%= render "common/search_bar" %>
					<!-- </a>  -->
				</div>
			</div>
		</div>
	</section>
	
</header>


           <div class="show-for-medium medium-3 grid-content">
               <select name="" id="">
                  <option value="">Adelaide</option>
                  <option value="">Brisbane</option>
                  <option value="">Sydney</option>
                  <option value="">Melbourne</option>
                  <option value="">Perth</option>
               </select>
            </div>
			
            <div class="show-for-medium medium-3 grid-content">
               <select name="" id="">
                  <option value="">All Categories</option>
                  <option value="">Food Offers</option>
                  <option value="">Drink Specials</option>
                  <option value="">Festivals</option>
                  <option value="">Music</option>
                  <option value="">Comedy</option>
               </select>
            </div>
			
            <div class="show-for-medium medium-3 grid-content">
               <select name="" id="">
                  <option value="">Today</option>
                  <option value="">Tomorrow</option>
                  <option value="">Sunday</option>
                  <option value="">Monday</option>
                  <option value="">Tuesday</option>
                  <option value="">Wednesday</option>
               </select>
            </div>
			

<div class="SearchContainer">
	<div class="SearchForm row center">
		
		<!-- <%= form_tag search_jobs_path, method: :get, class: "center" do %>
			<div class="SearchForm__location">
				<label for="#" class="SearchForm__label">
					<span>领域</span>
				</label><br>
				<input type="text" name="city" value="<%= params[:city] %>" placeholder="工作地点 城市">
			</div>
			<div class="SearchForm__dates" >
				<label for="#" class="SearchForm__label">
					<span>领域</span>
				</label><br>
				<input type="text" name="category" value="<%= params[:category] %>" placeholder="领域划分">
			</div>
			<div class="SearchForm__guests" >
				<label for="#" class="SearchForm__label">
					<span>领域</span>
				</label><br>
				<input type="text" name="q" value="<%= params[:q] %>" placeholder="职位名称">
			</div>
			<div class="SearchForm__submit">
				<button type="submit" class="btn btn-primary " >
					Search
				</button>
			</div>
		<% end %> -->
		<form action="/s" method="get" class="center">
				<div class="SearchForm__location">
					<label for="#" class="SearchForm__label">
						<span>领域</span>
					</label><br>
					<input type="text" name="fname">
				</div>
				<div class="SearchForm__dates" >
					<label for="#" class="SearchForm__label">
						<span>领域</span>
					</label><br>
					<input type="text" name="lname">
				</div>
				<div class="SearchForm__guests" >
					<label for="#" class="SearchForm__label">
						<span>领域</span>
					</label><br>
					<input type="text" name="nname">
				</div>
				<div class="SearchForm__submit">
					<button type="submit" class="btn btn-primary " >
						提交
					</button>
				</div>

				<%= render "location_dropdown" %>
		</form>
	</div>
</div>




<!-- <div id="main-wrapper" >
   <div id="main-container" class="grid-block">


      <div id="content-wrapper" class="grid-block vertical">
         <div id="filter-wrapper" class="vertical medium-horizontal grid-block align-center">

            <div class="show-for-medium medium-3 grid-content">
               <select name="" id="">
                  <option value="">Adelaide</option>
                  <option value="">Brisbane</option>
                  <option value="">Sydney</option>
                  <option value="">Melbourne</option>
                  <option value="">Perth</option>
               </select>
            </div>

            <div class="show-for-medium medium-3 grid-content">
               <select name="" id="">
                  <option value="">All Categories</option>
                  <option value="">Food Offers</option>
                  <option value="">Drink Specials</option>
                  <option value="">Festivals</option>
                  <option value="">Music</option>
                  <option value="">Comedy</option>
               </select>
            </div>

            <div class="show-for-medium medium-3 grid-content">
               <select name="" id="">
                  <option value="">Today</option>
                  <option value="">Tomorrow</option>
                  <option value="">Sunday</option>
                  <option value="">Monday</option>
                  <option value="">Tuesday</option>
                  <option value="">Wednesday</option>
               </select>
            </div>

            <div class="show-for-medium medium-2 grid-content">
               <a href="#" class="expand button">Filter</a>
            </div>

            <div class="hide-for-medium small-12 grid-content">
               <a href="#" class="expand button">Filter Options</a>
            </div>

         </div>

   </div>
</div> -->





<div class=" row graygradient-bg">
<section class="portfolio col-md-offset-1 col-md-10 text-center container" id="portfolio" style="margin-top: 40px;">
	<h3 class="nice-title">最美产品</h3>
	<div class="no-margin" id="niceapps">
		<% @jobs.each do |job| %>
			<div class="app col-md-4 wp4 animated fadeInDown">
				<div class="flashcard clearfix">
					<div class="img"> 
					<!-- <div class="flashcard"></div> -->
						<!-- <img alt="最美应用" src="../../static/landingpage/img/pic_zuiweb_normal@2x.jpg"> -->
						<!-- <%= image_tag("jobs/section/pic_zuiweb_normal@2x.jpg") %> -->
						<%= image_tag("jj.jpg", alt: job.title) %>
						<div class="overlay">
							<a class="expand" href="http://zuimeia.com" target="_blank"> 
								<!-- <img alt="最美应用官网" src="../../static/landingpage/img/pic_zuiweb_hover@2x.jpg"> -->
								<%= image_tag("jobs/section/pic_zuiweb_hover@2x.jpg") %>
							</a> 
						</div>
					</div>
				</div>
			</div>			
		<% end %>
		
		<br>
	         <div class="text-center">
	        <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
	        </div>
		<br>
		
		<div class="app col-md-4 wp4 animated fadeInDown">
			<div class="flashcard clearfix">
				<div class="img"> 
				<!-- <div class="flashcard"></div> -->
					<!-- <img alt="最美应用" src="../../static/landingpage/img/pic_zuiweb_normal@2x.jpg"> -->
					<%= image_tag("jobs/section/pic_zuiweb_normal@2x.jpg") %>
					<div class="overlay">
						<a class="expand" href="http://zuimeia.com" target="_blank"> 
							<!-- <img alt="最美应用官网" src="../../static/landingpage/img/pic_zuiweb_hover@2x.jpg"> -->
							<%= image_tag("jobs/section/pic_zuiweb_hover@2x.jpg") %>
						</a> 
					</div>
				</div>
			</div>
		</div>
		<div class="app col-md-4 wp4 delay-05s animated fadeInDown">
			<div class="flashcard clearfix">
				<div class="img"> 
					<!-- <img alt="最美应用" src="../../static/landingpage/img/pic_zui_normal@2x.jpg"> -->
					<%= image_tag("jobs/section/pic_zui_normal@2x.jpg") %>
					<div class="overlay">
						<a class="expand" href="http://hi.zuimeia.com/nice" target="_blank"> 
							<!-- <img alt="最美应用" src="../../static/landingpage/img/pic_zui_hover@2x.jpg"> -->
							<%= image_tag("jobs/section/pic_zui_hover@2x.jpg") %>
						</a> 
					</div>
				</div>
			</div>
		</div>
		<div class="app col-md-4 wp4 delay-1s animated fadeInDown">
			<div class="flashcard clearfix">
				<div class="img"> 
					<!-- <img alt="最美壁纸" src="../../static/landingpage/img/pic_zuiwallpaper_normal@2x.jpg"> -->
					<%= image_tag("jobs/section/pic_zuiwallpaper_normal@2x.jpg") %>
					<div class="overlay">
						<a class="expand" href="http://hi.zuimeia.com/pic" target="_blank"> 
						<!-- <img alt="最美壁纸" src="../../static/landingpage/img/pic_zuiwallpaper_hover@2x.jpg"> -->
						<%= image_tag("jobs/section/pic_zuiwallpaper_hover@2x.jpg") %>
						</a> 
					</div>
				</div>
			</div>
		</div>
		<div class="app col-md-4 wp4 delay-15s animated fadeInDown">
			<div class="flashcard clearfix">
				<div class="img"> 
					<!-- <img alt="最美锁屏" src="../../static/landingpage/img/pic_zuilocker_normal@2x.jpg"> -->
					<%= image_tag("jobs/section/pic_zuilocker_normal@2x.jpg") %>
					<div class="overlay">
						<a class="expand" href="http://hi.zuimeia.com/locker" target="_blank"> 
							<!-- <img alt="最美锁屏" src="../../static/landingpage/img/pic_zuilocker_hover@2x.jpg"> -->
							<%= image_tag("jobs/section/pic_zuilocker_hover@2x.jpg") %>
						</a> 
					</div>
				</div>
			</div>
		</div>
		<div class="app col-md-4 wp4 delay-2s animated fadeInDown">
			<div class="flashcard clearfix">
				<div class="img"> 
					<!-- <img alt="最美时光" src="../../static/landingpage/img/pic_zuidays_normal@2x.jpg"> -->
					<%= image_tag("jobs/section/pic_zuidays_normal@2x.jpg") %>
					<div class="overlay">
						<a class="expand" href="http://hi.zuimeia.com/days" target="_blank"> 
							<!-- <img alt="最美时光" src="../../static/landingpage/img/pic_zuidays_hover@2x.jpg"> -->
							<%= image_tag("jobs/section/pic_zuidays_hover@2x.jpg") %>
						</a> 
					</div>
				</div>
			</div>
		</div>
		<div class="app col-md-4 wp4 delay-25s animated fadeInDown">
			<div class="flashcard clearfix">
				<div class="img"> 
					<!-- <img alt="空气锁屏" src="../../static/landingpage/img/pic_airlock_normal@2x.jpg"> -->
					<%= image_tag("jobs/section/pic_airlock_normal@2x.jpg") %>
					<div class="overlay">
						<a class="expand" href="http://hi.zuimeia.com/air" target="_blank"> 
						<!-- <img alt="空气锁屏" src="../../static/landingpage/img/pic_airlock_hover@2x.jpg"> -->
						<%= image_tag("jobs/section/pic_airlock_hover@2x.jpg") %>
						</a> 
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</div>