
<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6">
		  <section class='section'>
		      <div class='masthead-image' id='master-container'>
		          <div class='content center'>
		              <h1 id='master'>
		                <div>JOB</div>
		                <div id='master-container-scroller'>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>iOS</a>
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>PHP</a>
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>RUBY</a>
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>JavaScript</a>
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>C++</a>
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>Android</a>
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>JAVA</a>
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>Python</a>
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>C#</a>
		                  </div>
		                  <div class='master-container-scroller_item'>SQL</div>
		                </div>
		                <div>ONLY FOR GIRLS</div>
		              </h1>
		          </div>
		      </div>
		  </section>
        <br>
    </div>
  </div>
</div>





<div>
    <div>
		<section id="careerGuide">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 ">
						<h1 class="teal-text">Build your career profile</h1>
						<h2 class="teal-content-text">Start your personal career journey. Identify your interests, build your career profile and explore occupations.</h2>
						<div class="text-center">
							<!-- <a class="btn btn-teal-lg login-home-modal" data-link="/my-career-profile" data-target="#LogInModal" data-toggle="modal" href="/my-career-profile">Start here</a> -->
							<%= link_to("Start here", jobs_path, class: "btn btn-teal-lg login-home-modal") %>
						</div>
						<div id="careerguideAnimation">
							<%= image_tag 'careerPath-illustration.png' %>
							<!-- <img alt="career guide image" class="img-responsive" src="assets/images/careerPath-illustration.png"> -->
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>





<div class="section-custom">

	<div class="content-section-a">
	  <div class="container">
	    <div class="row">
			<h2 class="teal-text">What can you get here?</h2>
	      <div class="col-lg-6 col-sm-6">
	        <!-- <hr class="section-heading-spacer"> -->
	        <div class="clearfix"></div>
	        <!-- <h2 class="section-heading">What you can get here?</h2> -->
		    <h2 class="teal-content-text"> As the premier professional association for women in the technology industry, we understand the unique challenges you face. </h2>
		    <h2 class="teal-content-text">No matter where you are in your professional development, or what technology-related field you're in, our community offers a broad range of support, programs and resources to advance women in technology from the classroom to the boardroom.</h2>
	        <!-- <p class="lead"></p> -->
	      </div>
	      <div class="col-lg-5 col-sm-6" style="padding-top: 60px;">
	        <iframe width="600" height="340" src="//www.youtube.com/embed/oZT6tFZN-FU" frameborder="0" allowfullscreen></iframe>
	      </div>
	      <!-- <div class="col-lg-5 col-sm-6" style="padding-top: 60px;">
	        <iframe width="600" height="340" src="http://us.sinaimg.cn/003FlXYmjx07aqW2YKaY01040100f3cX0k01.mp4?label=mp4_hd&amp;Expires=1492624926&amp;ssig=%2F26IxuaE4L&amp;KID=unistore,video" frameborder="0" allowfullscreen></iframe>
	      </div> -->
		  
	    </div>
	  </div>
	</div>
	
	
	<div class="content-section-z">
		<section id="industries">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 ">
						<h1 class="teal-text">Explore industries</h1>
						<h2 class="teal-content-text">Find out about the occupations and employment opportunities in Australia's key industries.</h2>
						<div class="text-center">
							<!-- <a class="btn btn-teal-lg login-home-modal" href="/industries">Browse all industries</a> -->
							<%= link_to("Browse all industries", jobs_path, class: "btn btn-teal-lg login-home-modal") %>
						</div>
						<div class="col-lg-12  clearfix text-center" id="industries-galery">
							<div class=" col-xs-12 col-sm-4 col-lg-4 ">
								<!-- <img alt="icon transportation" src="/Public/img/industries/icon-transportation.png"> -->
								<%= image_tag 'industries/icon-transportation.png' %>
								<div>Transportation</div>
							</div>
							<div class="col-xs-12 col-sm-4  col-lg-4 ">
								<!-- <img alt="icon mining" src="/Public/img/industries/icon-mining.png"> -->
								<%= image_tag 'industries/icon-mining.png' %>
								<div>Mining</div>
							</div>
							<div class="col-xs-12 col-sm-4  col-lg-4 ">
								<!-- <img alt="icon arts &amp; recreation" src="/Public/img/industries/icon-arts.png"> -->
								<%= image_tag 'industries/icon-arts.png' %>
								<div>Arts and recreation</div>
							</div>
							<div class="col-xs-12 col-sm-4  col-lg-4 ">
								<!-- <img alt="icon health" src="/Public/img/industries/icon-health.png"> -->
								<%= image_tag 'industries/icon-health.png' %>
								<div>Health</div>
							</div>
							<div class="col-xs-12 col-sm-4  col-lg-4 ">
								<!-- <img alt="icon telecommunications" src="/Public/img/industries/icon-telecommunications.png"> -->
								<%= image_tag 'industries/icon-telecommunications.png' %>
								<div>Telecommunications</div>
							</div>
							<div class="col-xs-12 col-sm-4  col-lg-4 ">
								<!-- <img alt="icon insurance" src="/Public/img/industries/icon-insurance.png"> -->
								<%= image_tag 'industries/icon-insurance.png' %>
								<div>Insurance</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<div class="content-section-a">
	  <div class="container">
	    <div class="row">
			<h1 class="teal-text">Change your life</h1>
	    </div>
	  </div>
	</div>
	
	
	<!-- <h1 class="teal-text">A chance to change your life</h1> -->
	<!-- <h2 class="text-center" style="padding: 30px;">A chance to change your life.</h2> -->
	<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	    <h4>"Your time is limited, so don't waste it living someone else's life."<br><span style="font-style:normal;">Steve Jobs</span></h4>
	    </div>
	    <div class="item">
	      <h4>"Hiring and promoting talented women is the right thing to do for society - and it's an economic imperative."<br><span style="font-style:normal;">Carlos Ghosn, Chairman, Renault-Nissan Alliance</span></h4>
	    </div>
	    <div class="item">
	      <h4>"Any society that fails to harness the energy and creativity of its women is at a huge disadvantage in the modern world."<br><span style="font-style:normal;">Tian Wei, CCTV News</span></h4>
	    </div>
	  </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	<br><br>
	

	<!-- <div class="content-section-a">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-5 col-sm-6">
	        <hr class="section-heading-spacer">
	        <div class="clearfix"></div>
	        <h2 class="section-heading">这是可以乱改的字<br>动手试试看吧</h2>
	        <p class="lead">摩改大赛可以参考<a target="_blank" href="https://forum.qzy.camp/">论坛资源</a></p>
	      </div>
	      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
	        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
	      </div>
	    </div>
	  </div>
	</div> -->
	
</div>