<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6">
		  <section class='section'>
		      <div class='masthead-image' id='master-container'>
		          <div class='content center'>
		              <h1 id='master'>
		                <div>JOB</div>
		                <div id='master-container-scroller'>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>iOS</a>.
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>Enemy</a>.
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>RUBY</a>.
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>JS</a>.
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>C++</a>.
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>Android</a>.
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>Swift</a>.
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>Earlang</a>.
		                  </div>
		                  <div class='master-container-scroller_item'>
		                    <a class='cta-link' href='#'>Rails</a>.
		                  </div>
		                  <div class='master-container-scroller_item'>OC.</div>
		                </div>
		                <div>ONLY FOR GIRLS</div>
		              </h1>
		          </div>
		      </div>
		  </section>
        <br>
    </div>
  </div>
</div>

<div class="col-sm-12 col-6">
            <iframe width="600" height="315" src="//www.youtube.com/embed/oZT6tFZN-FU" frameborder="0" allowfullscreen></iframe>
      </div>

<!-- <section class="stats-section"> -->
<div class="section-custom">
	<div class="content-section-z">
	  <div class="stats col-lg-4 col-sm-4 col-xs-4">
		  <%= image_tag 'homepage-stat1.png', alt: "26 percent" %>
	    <p>全球2000万名程序员,其中只有26%是女性</p>
	  </div>
	  <div class="stats col-lg-4 col-sm-4 col-xs-4">
		  <%= image_tag 'homepage-stat2.png', alt: "18 percent" %>
	    <p>全中国本科毕业的大学生有47%是女性，<br>而其中只有18%的女性为计算机专业</p>
	  </div>
	  <div class="stats col-lg-4 col-sm-4 col-xs-4">
		  <%= image_tag 'homepage-stat3.png', alt: "34 percent" %>
	    <p>拥有更多管理处女性的技术公司，<br>其回报率高达34%</p>
	  </div>
	</div>
	<!-- </section> -->

	<div class="content-section-a">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-5 col-sm-6">
	        <hr class="section-heading-spacer">
	        <div class="clearfix"></div>
	        <h2 class="section-heading">找工作一定要带手机</h2>
	        <p class="lead">因为没带手机就不能联络公司</p>
	      </div>
	      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
	        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="content-section-b">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
	        <hr class="section-heading-spacer">
	        <div class="clearfix"></div>
	        <h2 class="section-heading">一定要把履历写好在投</h2>
	        <p class="lead">履历如果不会写就一定要多上网寻求帮助，例如  <a target="_blank" href="http://blog.niclin.tw">Nic 的 Blog</a>! 啦啦啦啦啦啦啦</p>
	      </div>
	      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
	        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="content-section-a">
	  <div class="container">
	    <div class="row">
	      <div class="col-lg-5 col-sm-6">
	        <hr class="section-heading-spacer">
	        <div class="clearfix"></div>
	        <h2 class="section-heading">这是可以乱改的字<br>动手试试看吧</h2>
	        <p class="lead">摩改大赛可以参考<a target="_blank" href="https://forum.qzy.camp/">论坛资源</a></p>
	      </div>
	      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
	        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
	      </div>
	    </div>
	  </div>
	</div>
</div>