<nav class="navbar navbar-default navbar-fixed-top" id="myScrollspy">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">JOB ONLY FOR GIRLS</a>
		</div>
  	  	
		<div class="nav navbar-nav" style="position:relative;">
			<li>
				<div class="form-group form-inline search-bar">
					<%= render "common/search_bar" %>
				</div>
			</li>
		</div>
		<!-- <%= render "common/search_bar" %> -->
  
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<% if !current_user %>
					<li><%= link_to("注册", new_user_registration_path) %></li>
					<li><%= link_to("登入", new_user_session_path) %></li>
				<% else %>				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						Hi!, <%= current_user.email %> <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<% if current_user.admin? %>
						<li><%= link_to("Admin Panel", admin_jobs_path) %></li>
						<% end %>
						<li><%= link_to("登出", destroy_user_session_path, method: :delete) %></li>
					</ul>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>	
