<!DOCTYPE html>
<html>
  <head>
    <title>女程序招聘</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	

	<link rel="shortcut icon" href="/images/favicon.ico">
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<script>
	$(document).ready(function(){
		$("input").focus(function(){
			$(this).css("background-color", "#cccccc");
		    $("#DropDown_br").show();
		});
		$("input").blur(function(){
			$(this).css("background-color", "#ffffff");
		    $("#DropDown_br").hide();
		});
	});
	</script> -->

  </head>

  <body>
	  
	  <div class="container-fluid">
		<div class="row">
		  	<%= render "common/navbar" %>
		    <!-- <%= render "common/flashes" %> -->
			<%= yield %>
		</div>
		
	  </div>
	  
	  <%= render "common/footer" %>
	  
  </body>
</html>
